
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTaskLabel">Create or edit a Task</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div has-authority="ROLE_ADMIN"  class="form-group" ng-show="vm.task.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.task.id" readonly />
        </div>
        <div has-authority="ROLE_ADMIN"  class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.task.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.task.startDate" is-open="vm.datePickerOpenStatus.startDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div has-authority="ROLE_ADMIN" class="form-group">
            <label class="control-label" for="field_endDate">End Date</label>
                <div ng-switch="has-authority" class="input-group">
                    <div>
                        <input id="field_endDate" type="text" class="form-control" name="endDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.task.endDate" is-open="vm.datePickerOpenStatus.endDate"
                        />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_finishDate">Finish Date</label>
                <div class="input-group">
                    <input id="field_finishDate" type="text" class="form-control" name="finishDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.task.finishDate" is-open="vm.datePickerOpenStatus.finishDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('finishDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div has-authority="ROLE_ADMIN" class="form-group">
            <label for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" ng-model="vm.task.client" ng-options="client as client.name for client in vm.clients track by client.id">
                <option value=""></option>
            </select>
        </div>
        <div has-authority="ROLE_ADMIN" class="form-group">
            <label for="field_task">Task</label>
            <select class="form-control" id="field_task" name="task" ng-model="vm.task.task" ng-options="task as task.name for task in vm.tasks track by task.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_workspaceColumn">Workspace Column</label>
            <select class="form-control" id="field_workspaceColumn" name="workspaceColumn" ng-model="vm.task.workspaceColumn" ng-options="workspaceColumn as workspaceColumn.name for workspaceColumn in vm.workspacecolumns track by workspaceColumn.id">
                <option value=""></option>
            </select>
        </div>
        <div has-authority="ROLE_ADMIN" class="form-group">
            <label for="field_workspace">Workspace</label>
            <select class="form-control" id="field_workspace" name="workspace" ng-model="vm.task.workspace" ng-options="workspace as workspace.name for workspace in vm.workspaces track by workspace.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>


